* {
  @apply m-0 p-0;
  text-decoration: none;
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
}

// variables
$color1: #0e1927;
$color2: #c6ac83;
$fontjosefin: 'Josefin Sans', sans-serif;
$fonttenor: 'Tenor Sans', sans-serif;

.logo {
  @apply flex flex-col items-center justify-center gap-1;
}
.logo>span:first-child {
  font-family: $fonttenor;
  @apply uppercase font-normal text-3xl;
}
.logo>span:last-child {
  font-size: 4px;
  @apply uppercase;
}

.btn {
  font-family: $fontjosefin;
  @apply flex flex-col gap-2 overflow-hidden;
  &-wrapper {
    @apply py-3 px-7 font-normal text-xs flex items-center justify-center;
  }
}
.btn:after {
  content: '';
  border-top: 1px solid;
  transform: translateX(100%);
  @apply w-full flex;
}
.btn:hover:after {
  content: '';
  transform: translateX(0%);
  @apply duration-100 ease-linear;
}
button {
  font-family: $fontjosefin;
  @apply cursor-pointer uppercase font-normal text-xs bg-transparent border;
}

// phone
h1 {
  font-family: $fonttenor;
  @apply font-normal text-4xl uppercase;
}
h2 {
  font-family: $fonttenor;
  @apply font-normal text-xl uppercase text-center;
}
h3 {
  font-family: $fontjosefin;
  @apply uppercase text-base font-normal text-center;
}
p {
  font-family: $fontjosefin;
  @apply text-xs font-light;
}
li {
  @apply text-xs;
}
a {
  @apply text-sm font-normal;
}

main {
  gap: 80px;
  @apply flex flex-col;
}

.header {
  border-radius: 0 0 20px 20px;
  background-color: $color1;
  z-index: 1;
  @apply fixed w-full text-white flex flex-col justify-between;
  a {
    font-family: $fonttenor;
    @apply text-white uppercase;
  }
}
.head {
  border-bottom: 1px solid $color2;
  @apply flex justify-between items-center py-2 px-5;
  &-top {
    @apply flex gap-5;
  }
  nav {
    transform: translateX(120%);
    background-color: $color1;
    @apply flex-col gap-2 items-center absolute flex pt-10 top-[105px] w-full left-0 right-0 h-screen;
  }
  &-right {
    @apply cursor-pointer flex flex-col ml-5;
  }
}
nav {
  a {
    @apply p-6 w-full justify-center flex;
  }
  a:hover {
    color: $color1;
    background-color: $color2;
    @apply ease-linear duration-200;
  }
}
nav.active {
  @apply ease-linear translate-x-0 duration-200;
}
.head:last-child {
  @apply border-none justify-between;
}
.head-top {
  p:last-child {
    color: $color2;
  }
  figure {
    @apply rounded-full w-10 h-10 items-center justify-center flex;
    border: 1px solid $color2;
    img {
      @apply w-1/2 h-1/2;
    }
  }
  div {
    @apply hidden;
  }
}
.head-top:last-child {
  p {
    @apply capitalize;
  }
}
.head-right {
  span {
    color: $color2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    @apply w-7 py-2 px-0;
  }
  .head-right-span:after { //span
    content: '';
    color: $color2;
    border-top: 1px solid;
    transform: translateX(10px);
    @apply absolute w-7;
  }
  .head-right-span.active:after {
    @apply ease-linear translate-x-0 duration-200;
  }
}
.head:last-child {
  img {
    cursor: pointer;
  }
}

.hero {
  @apply overflow-hidden relative flex justify-center items-center text-white h-screen;
  figure {
    z-index: -1;
    @apply w-full h-full top-24;
  }
  img {
    @apply object-cover w-full h-full;
  }
  h1 {
    @apply absolute;
  }
  &-right {
    @apply hidden;
  }
}

.about {
  color: $color1;
  @apply mx-5 text-center flex flex-col items-center justify-center;
  >div {
    max-width: 660px;
    @apply flex flex-col items-center gap-2;
  }
}
.about {
  h3 {
    color: $color1;
    @apply gap-2 flex flex-row items-center justify-center;
  }
  h3:before {
    content: '';
    width: 20px;
    border-top: 1px solid $color2;
  }
  h3:after {
    content: '';
    width: 20px;
    border-top: 1px solid $color2;
  }
}
.about {
  .btn {
    &-wrapper {
      color: $color1;
    }
  }
}

.image {
  @apply relative w-full flex items-center scroll-smooth;
  &-scroll {
    height: 250px;
    @apply flex overflow-auto gap-5;
  }
}
.image-btn1 {
  @apply left-0;
}
.image-btn2 {
  @apply right-0;
}
.image {
  button {
    margin: 0 30px;
    background-color: $color1;
    font-size: 3em;
    width: 50px;
    height: 50px;
    @apply flex items-center justify-center absolute rounded-full text-white font-light border-none;
  }
  button:hover {
    color: $color1;
    @apply bg-white;
  }
  img {
    min-width: 100%;
    @apply h-full object-cover;
  }
}

.event {
  &-top {
    color: $color2;
    padding: 20px;
    border-top: 1px solid;
    @apply items-center justify-between flex flex-col;
  }
  &-next {
    @apply grid grid-cols-1 text-white;
  }
  img {
    @apply w-full h-full object-cover;
  }
}
.event {
  p {
    width: 80%;
    @apply text-center;
  }
  figure {
    @apply w-full h-full;
  }
}
.event-top {
  p {
    color: $color1;
    @apply uppercase text-center;
  }
  div {
    color: $color2;
    @apply text-3xl flex flex-col items-center gap-1;
  }
  &-polygone {
    /* polygone */
    width: 15px;
    height: 15px;
    background-color: #c6ac83;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    @apply hidden;
  }
}
.event-next-private {
  background-color: $color1;
  @apply px-6 py-10 flex flex-col items-center gap-5 justify-center;
  &-btn {
    color: white;
    @apply grid items-center w-full justify-center gap-2;
  }
  >div:first-child {
    width: 100%;
    @apply gap-5 flex flex-col;
  }
}
.event-next-private {
  .btn {
    color: $color2;
    &-wrapper {
      color: $color2;
      border: 1px solid $color2;
    }
  }
  .btn-wrapper:hover {
    color: $color1;
    background-color: $color2;
  }
}
.event-next {
  h3 {
    @apply gap-3 flex flex-row items-center justify-center;
  }
  h3:before {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
  h3:after {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
}

.chef {
  color: $color1;
  padding: 0 20px;
  @apply flex flex-col gap-10 items-center justify-center;
  &-food {
    // min-width: 440px;
    @apply flex flex-col gap-2 items-center justify-center w-full;
  }
  figure {
    @apply h-auto w-full;
    img {
      @apply w-full h-full object-cover;
    }
  }
}
.chef-food {
  p {
    @apply text-center;
  }
  h2 {
    width: 80%;
  }
  .btn-wrapper {
    color: $color1;
  }
}
.chef-food {
  h3 {
    @apply gap-3 w-full flex flex-row items-center justify-center;
  }
  h3:before {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
  h3:after {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
}

.dinning {
  @apply flex flex-row items-center justify-center gap-2;
  &-wrapper {
    @apply w-2/3 flex flex-col gap-10;
  }
}
.dinning {
  button {
    color: $color1;
    margin: 0 20px;
    font-size: 2em;
    width: 40px;
    height: 40px;
    @apply absolute flex items-center justify-center rounded-full font-light border-none;
  }
  button:hover {
    background-color: $color1;
    @apply text-white;
  }
}
.dinning-wrapper {
  &-div:last-child:after {
    content: '';
    border-bottom: 1px solid $color2;
    transform: translateY(15px);
    @apply w-full flex;
  }
  &-div:first-child:after {
    // content: '';
    border-bottom: 1px solid $color2;
    transform: translateY(15px);
    @apply w-full flex;
  }
  &-div:first-child:before {
    content: '';
    border-bottom: 1px solid $color2;
    transform: translateY(-15px);
    @apply w-full flex;
  }
}
.dinning-wrapper {
  &-div {
    border: 1px solid $color2;
    @apply flex flex-col;
  }
  span {
    color: $color2;
    font-family: $fonttenor;
    font-size: 68px;
    @apply font-normal;
  }
}
.dinning-wrapper-div {
  div {
    @apply flex flex-col items-center justify-center m-5 gap-3;
  }
  p {
    color: $color1;
    @apply text-center;
  }
  p:nth-child(2) {
    @apply text-xl font-medium uppercase;
  }
  p:last-child {
    @apply text-base uppercase font-medium;
  }
}

footer {
  margin-top: 80px;
  background-color: $color1;
  @apply text-white px-5;
  ul {
    @apply list-none;
  }
  a {
    @apply text-white;
  }
}
footer {
  .btn-wrapper {
    border-color: $color2;
    @apply flex items-center justify-between capitalize;
    &:hover {
      background-color: $color2;
    }
    &:hover a {
      color: $color1;
    }
  }
}
.footer-wrapper {
  @apply grid grid-cols-1 py-8 gap-5;
  >div:first-child {
    @apply flex flex-col items-start;
  }
  &-list {
    border-bottom: 1px solid #c6ac83;
    @apply flex flex-col gap-2 py-2;
  }
  &-last {
    @apply flex flex-col gap-1;
    p {
      @apply uppercase;
    }
  }
}
.footer-wrapper:last-child {
  border-top: 1px solid #c6ac83;
  @apply flex justify-between;
}
.footer-wrapper-list:last-child {
  @apply border-none;
}
.footer-wrapper-list {
  >li:first-child {
    @apply uppercase;
  }
  img:hover {
    scale: 120%;
    @apply duration-500;
  }
}


@media (min-width: 520px) {
  .btn {
    &-wrapper {
      @apply py-4 px-8;
    }
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  p {
    font-size: 16px;
  }
  li {
    @apply text-base;
  }
  a {
    @apply text-sm;
  }

  main {
    gap: 100px;
  }

  .head {
    @apply py-3 px-10;
  }

  .about {
    >div {
      @apply gap-4;
    }
  }
  .about {
    h3:before {
      width: 75px;
    }
    h3:after {
      width: 75px;
    }
  }

  .event {
    &-top {
      padding: 50px;
      @apply flex items-center justify-between flex-row;
    }
  }
  .event-top {
    div {
      @apply text-4xl gap-2;
    }
    &-polygone {
      @apply flex;
    }
  }
  .event-next-private {
    @apply px-8 py-16;
    &-btn {
      @apply flex flex-row items-center w-full justify-center gap-2;
    }
  }

  .chef {
    padding: 0 40px;
  }

  footer {
    margin-top: 100px;
    @apply px-10;
  }
  .footer-wrapper {
    @apply grid grid-cols-2 gap-5;
    &-list {
      @apply border-none p-0;
    }
  }
}

// tablette
@media (min-width: 768px) {
  .btn {
    &-wrapper {
      @apply text-base;
    }
  }
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    line-height: 20px;
    font-size: 20px;
  }
  li {
    @apply text-xl;
  }
  a {
    @apply text-xl;
  }

  main {
    gap: 120px;
  }

  .header {
    @apply flex flex-col;
  }
  .head {
    @apply py-4 px-16;
    &-top {
      @apply gap-3;
    }
    nav {
      top: 135px;
    }
  }
  .head-top {
    div {
      @apply flex flex-col;
    }
  }

  .about {
    >div {
      @apply gap-5;
    }
    h3 {
      @apply gap-5;
    }
  }

  .image {
    &-scroll {
      height: 314px;
    }
    button {
      margin: 0 60px;
      font-size: 4em;
      width: 60px;
      height: 60px;
    }
    img {
      min-width: 650px;
    }
  }

  .event {
    p {
      width: 90%;
    }
    &-top {
      padding: 60px;
    }
  }
  .event-top {
    div {
      @apply text-5xl;
    }
    &-polygone {
      /* polygone */
      width: 21px;
      height: 21px;
    }
  }
  .event-next {
    h3 {
      @apply gap-5;
    }
  }
  .event-next-private {
    @apply px-10 py-20 gap-10;
    &-btn {
      @apply gap-5;
    }
    >div:first-child {
      width: 70%;
      @apply gap-5 flex flex-col;
    }
  }

  .chef {
    padding: 0 60px;
    @apply gap-7 flex-row;
  &-food {
    max-width: 600px;
    @apply gap-5;
  }
    figure {
      height: 483px;
    }
  }

  .dinning {
    @apply gap-2;
    &-wrapper {
      @apply flex-row;
    }
    button {
      margin: 0 60px;
      font-size: 3em;
      width: 50px;
      height: 50px;
    }
  }
  .dinning-wrapper {
    &-div:after {
      content: '';
    }
    &-div:first-child:before {
      content: '';
      @apply hidden;
    }
    &-div:first-child:after {
      content: '';
    }
  }
  .dinning-wrapper-div {
    div {
      @apply m-10 gap-5;
    }
    p:nth-child(2) {
      @apply text-2xl;
    }
    p:last-child {
      @apply text-xl;
    }
  }

  footer {
    margin-top: 120px;
    @apply scroll-px-12;
  }
  .footer-wrapper {
    @apply grid-cols-4 py-10 px-0;
    >div:first-child {
      max-width: 250px;
    }
    &-list {
      @apply gap-5 border-none;
    }
    &-last {
      @apply gap-3;
    }
  }
  .footer-wrapper-list:last-child {
    max-width: 280px;
  }
}

// desktop
@media (min-width: 1024px) {

  .header {
    @apply rounded-none relative;
  }
  .head {
    @apply py-5 px-16;
    &-top {
      @apply flex-row gap-5;
    }
    nav {
      @apply pt-0 top-auto h-auto w-auto relative flex-row gap-16;
      transform: translateX(0);
    }
  }
  nav {
    a {
      @apply p-0 w-auto;
    }
    a:hover {
      color: $color2;
      background-color: transparent;
    }
  }

  .hero {
    figure {
      @apply top-0;
    }
  }
  /* hero aside */
  .hero {
    &-right {
      background-color: $color1;
      color: white;
      transform: translateX(100%);
      @apply flex items-center flex-col absolute gap-5 w-1/2 justify-center text-center h-full right-0;
    }
    &-right.able {
      transform: translateX(0%);
      transition: ease 200ms;
      @apply flex;
    }
  }
  .hero-right {
    p {
      width: 80%;
    }
    .close {
      width: 80px;
      height: 80px;
      @apply cursor-pointer relative;
    }
    button {
      background-color: transparent;
      cursor: default;
      z-index: -2;
      @apply w-full border-none absolute h-full flex;
    }
  }
  .hero-right {
    span {
      color: $color2;
      font-size: 28px;
      font-family: $fonttenor;
      gap: 10px;
      @apply flex items-center flex-col;
    }
    span:after {
      content: '';
      border-top: 1px solid #c6ac83;
      width: 100px;
    }
  }
  .hero-right {
    &-footer {
      @apply flex m-5;
      a {
        @apply mx-2;
      }
      img {
        @apply w-full h-full object-contain;
      }
      img:hover {
        transition: ease 200ms;
        scale: 1.5;
      }
    }
    >div:before {
      content: '';
      border-top: 1px solid #c6ac83;
      width: 100px;
    }
    >div {
      gap: 10px;
      @apply flex flex-col items-center;
    }
  }


  .event {
    &-next {
      @apply grid-cols-2;
    }
  }

  footer {
    @apply px-16;
  }
  .footer-wrapper {
    padding: 60px 0;
    &-last {
      @apply flex-row gap-16 justify-between;
    }
  }
}