* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
}

// variables
$color1: #0e1927;
$color2: #c6ac83;
$fontjosefin: 'Josefin Sans', sans-serif;
$fonttenor: 'Tenor Sans', sans-serif;

.logo {
  @apply flex flex-col items-center justify-center gap-1;
}
.logo>span:first-child {
  font-family: $fonttenor;
  @apply uppercase font-normal text-3xl;
}
.logo>span:last-child {
  font-size: 4px;
  @apply uppercase;
}

.btn {
  font-family: $fontjosefin;
  @apply flex flex-col gap-2 overflow-hidden;
  &-wrapper {
    @apply py-3 px-7 font-normal text-xs flex items-center justify-center;
  }
}
.btn:after {
  content: '';
  border: 1px solid;
  transform: translateX(100%);
  @apply w-full flex;
}
.btn:hover:after {
  content: '';
  transform: translateX(0%);
  @apply duration-100 ease-linear;
}
button {
  font-family: $fontjosefin;
  color: $color1;
  @apply cursor-pointer uppercase font-normal text-xs bg-transparent;
}
button:hover {
  transition: ease 200ms;
  background-color: $color1;
  @apply text-white;
}

// phone
h1 {
  font-family: $fonttenor;
  @apply font-normal text-4xl uppercase;
}
h2 {
  font-family: $fontjosefin;
  @apply uppercase text-base font-normal text-center;
}
p {
  font-family: $fontjosefin;
  @apply text-xs font-light;
}
li {
  @apply text-xs;
}
a {
  @apply text-sm font-normal;
}

main {
  gap: 80px;
  @apply flex flex-col;
}

.header {
  border-radius: 0 0 20px 20px;
  z-index: 1;
  background-color: $color1;
  @apply fixed w-full text-white flex flex-col justify-between;
  a {
    @apply text-white uppercase;
    font-family: $fonttenor;
  }
}
.head {
  border-bottom: 1px solid $color2;
  @apply flex justify-between items-center py-2 px-5 text-white;
  &-top {
    @apply flex gap-5;
  }
  nav {
    @apply flex-col gap-2 items-center absolute flex pt-10 top-[105px] w-full left-0 right-0 h-screen;
    transform: translateX(120%);
    background-color: $color1;
  }
  &-right {
    @apply cursor-pointer flex flex-col ml-5;
  }
}
nav {
  a {
    @apply p-6 w-full justify-center flex;
  }
  a:hover {
    color: $color1;
    background-color: $color2;
    @apply ease-linear duration-200;
  }
}
nav.active {
  @apply ease-linear translate-x-0 duration-200;
}
.head:last-child {
  @apply border-none justify-between;
}
.head-top {
  p:last-child {
    color: $color2;
  }
  figure {
    @apply rounded-full w-10 h-10 items-center justify-center flex;
    border: 1px solid $color2;
    img {
      @apply w-1/2 h-1/2;
    }
  }
  div {
    @apply hidden;
  }
}
.head-top:last-child {
  p {
    @apply capitalize;
  }
}
.head-right {
  span {
    color: $color2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    @apply w-7 py-2 px-0;
  }
  .head-right-span:after { //span
    content: '';
    color: $color2;
    border-top: 1px solid;
    transform: translateX(10px);
    @apply absolute w-7;
  }
  .head-right-span.active:after {
    @apply ease-linear translate-x-0 duration-200;
  }
}
.head:last-child {
  img {
    cursor: pointer;
  }
}

.hero {
  @apply relative flex justify-center items-center text-white h-screen overflow-hidden;
  figure {
    z-index: -1;
    @apply w-full h-full top-24;
  }
  img {
    @apply object-cover w-full h-full;
  }
  h1 {
    @apply absolute;
  }
  &-right {
    @apply hidden;
  }
}

.post {
  h2 {
    color: $color1;
    @apply gap-2 flex flex-row items-center justify-center;
  }
  h2:before {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
  h2:after {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
}
.post {
  margin: 0 20px;
  @apply flex flex-col gap-10;
  &-grid {
    @apply list-none grid grid-cols-1 grid-rows-6 gap-y-5;
  }
}
.post-grid {
  &-wrapper {
    color: $color1;
    @apply flex flex-col items-start gap-3;
  }
  figure {
    z-index: -2;
    @apply absolute h-full w-full top-0;
    img {
      @apply w-full h-full object-cover;
    }
  }
}
.post-grid-wrapper {
  >div:first-child {
    height: 400px;
    @apply relative w-full flex flex-col items-start justify-between;
  }
  div>div {
    padding: 10px;
    background-color: $color1;
    @apply flex flex-col text-white items-center;
  }
  div:nth-child(2) {
    border-bottom: 1px solid;
    @apply flex w-full uppercase pb-3 gap-2;
  }
}
.post-grid-wrapper {
  >div:last-child {
    border-bottom: 1px solid;
  }
  button {
    @apply p-1 border-none text-xl;
  }
}
.post-grid-wrapper>div:first-child {
  >p {
    font-family: $fonttenor;
    @apply text-lg uppercase m-2 text-white;
  }
  span {
    font-size: 48px;
    color: $color2;
    font-family: $fonttenor;
  }
}

footer {
  margin-top: 80px;
  background-color: $color1;
  @apply text-white px-5;
  ul {
    @apply list-none;
  }
  a {
    @apply text-white;
  }
}
footer {
  .btn-wrapper {
    border-color: $color2;
    @apply flex items-center justify-between capitalize;
    &:hover {
      background-color: $color2;
    }
    &:hover a {
      color: $color1;
    }
  }
}
.footer-wrapper {
  @apply grid grid-cols-1 py-8 gap-5;
  >div:first-child {
    @apply flex flex-col items-start;
  }
  &-list {
    border-bottom: 1px solid #c6ac83;
    @apply flex flex-col gap-2 py-2;
  }
  &-last {
    @apply flex flex-col gap-1;
    p {
      @apply uppercase;
    }
  }
}
.footer-wrapper:last-child {
  border-top: 1px solid #c6ac83;
  @apply flex justify-between;
}
.footer-wrapper-list:last-child {
  @apply border-none;
}
.footer-wrapper-list {
  >li:first-child {
    @apply uppercase;
  }
  img:hover {
    scale: 120%;
    @apply duration-500;
  }
}


@media (min-width: 520px) {
  .btn {
    &-wrapper {
      @apply py-4 px-8;
    }
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-lg;
  }
  p {
    font-size: 16px;
  }
  li {
    @apply text-base;
  }
  a {
    @apply text-sm;
  }

  main {
    gap: 100px;
  }

  .head {
    @apply py-3 px-10;
  }

  .post {
    margin: 0 40px;
    &-grid {
      @apply gap-y-7;
    }
  }

  footer {
    margin-top: 100px;
    @apply px-10;
  }
  .footer-wrapper {
    @apply grid grid-cols-2 gap-5;
    &-list {
      @apply border-none p-0;
    }
  }
}


// tablette
@media (min-width: 768px) {
  .btn {
    &-wrapper {
      @apply text-base;
    }
  }
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    line-height: 20px;
    font-size: 20px;
  }
  li {
    @apply text-xl;
  }
  a {
    @apply text-xl;
  }

  main {
    gap: 120px;
  }

  .header {
    @apply flex flex-col;
  }
  .head {
    @apply py-4 px-16;
    &-top {
      @apply gap-3;
    }
    nav {
      top: 135px;
    }
  }
  .head-top {
    div {
      @apply flex flex-col;
    }
  }

  .post {
    margin: 0 60px;
    &-grid {
      @apply grid-cols-2 grid-rows-3 gap-x-5 gap-y-10;
    }
  }
  .post-grid {
    &-wrapper {
      @apply gap-5;
    }
  }
  .post-grid-wrapper {
    div:nth-child(2) {
      @apply pb-5;
    }
  }
  .post-grid-wrapper>div:first-child {
    >p {
      width: 70%;
      @apply text-xl uppercase m-5;
    }
  }

  footer {
    margin-top: 120px;
    @apply scroll-px-12;
  }
  .footer-wrapper {
    @apply grid-cols-4 py-10 px-0;
    >div:first-child {
      max-width: 250px;
    }
    &-list {
      @apply gap-5 border-none;
    }
    &-last {
      @apply gap-3;
    }
  }
  .footer-wrapper-list:last-child {
    max-width: 280px;
  }
}

// desktop
@media (min-width: 1024px) {

  .header {
    @apply rounded-none relative;
  }
  .head {
    @apply py-5 px-16;
    &-top {
      @apply flex-row gap-5;
    }
    nav {
      @apply pt-0 top-auto h-auto w-auto relative flex-row gap-16;
      transform: translateX(0);
    }
  }
  nav {
    a {
      @apply p-0 w-auto;
    }
    a:hover {
      color: $color2;
      background-color: transparent;
    }
  }

  .hero {
    figure {
      @apply top-0;
    }
  }
  /* hero aside */
  .hero {
    &-right {
      background-color: $color1;
      color: white;
      transform: translateX(100%);
      @apply flex items-center flex-col absolute gap-5 w-1/2 justify-center text-center h-full right-0;
    }
    &-right.able {
      transform: translateX(0%);
      transition: ease 200ms;
      @apply flex;
    }
  }
  .hero-right {
    p {
      width: 80%;
    }
    .close {
      width: 80px;
      height: 80px;
      @apply cursor-pointer relative;
    }
    button {
      background-color: transparent;
      cursor: default;
      z-index: -2;
      @apply w-full border-none absolute h-full flex
    }
  }
  .hero-right {
    span {
      color: $color2;
      font-size: 28px;
      font-family: $fonttenor;
      gap: 10px;
      @apply flex items-center flex-col;
    }
    span:after {
      content: '';
      border-top: 1px solid #c6ac83;
      width: 100px;
    }
  }
  .hero-right {
    &-footer {
      @apply flex m-5;
      a {
        @apply mx-2;
      }
      img {
        @apply w-full h-full object-contain;
      }
      img:hover {
        transition: ease 200ms;
        scale: 1.5;
      }
    }
    >div:before {
      content: '';
      border-top: 1px solid #c6ac83;
      width: 100px;
    }
    >div {
      gap: 10px;
      @apply flex flex-col items-center;
    }
  }

  .post {
    &-grid {
      @apply grid-cols-3 grid-rows-2;
    }
  }

  footer {
    @apply px-16;
  }
  .footer-wrapper {
    padding: 60px 0;
    &-last {
      @apply flex-row gap-16 justify-between;
    }
  }
}

// large screen
@media (min-width: 1536px) {
 
  .post {
    &-grid {
      @apply grid-cols-4 grid-rows-2;
    }
  } 
}
