* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
}

// variables
$color1: #0e1927;
$color2: #c6ac83;
$fontjosefin: 'Josefin Sans', sans-serif;
$fonttenor: 'Tenor Sans', sans-serif;

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 20px;
}
.logo>span:first-child {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
}
.logo>span:last-child {
  font-size: 4px;
  text-transform: uppercase;
}

.btn {
  padding: 12px 26px;
  font-family: $fontjosefin;
  font-weight: 400;
  font-size: 12px;
}
button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: $fontjosefin;
  font-weight: 400;
  font-size: 12px;
  color: white;
  background-color: transparent;
  border: 1px solid #c6ac83;
}


// phone
h1 {
  font-weight: 400;
  font-family: $fonttenor;
  font-size: 35px;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: $fonttenor;
  font-style: normal;
  text-transform: uppercase;
}
h3 {
  font-family: $fontjosefin;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-family: $fontjosefin;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
li {
  font-size: 12px;
  line-height: 18px;
}
a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

header {
  width: 100%;
  position: fixed;
  background-color: $color1;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
  a {
    color: white;
    font-family: $fonttenor;
    text-transform: uppercase;
  }
}
.head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color2;
  align-items: center;
  padding: 10px 20px;
  &-top {
    display: flex;
    gap: 20px;
  }
  nav {
    padding-top: 40px;
    transform: translateX(120%);
    background-color: $color1;
    top: 110px;
    width: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  &-right {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}
nav {
  a {
    padding: 25px;
    width: 100%;
    display: inherit;
    justify-content: center;
  }
  a:hover {
    transition: linear 200ms;
    background-color: $color2;
    color: #0e1927;
  }
}
nav.active {
  transition: ease 200ms;
  transform: translateX(0);
}
.head:last-child {
  border: none;
  justify-content: space-between;
}
.head-top {
  p:last-child {
    color: $color2;
  }
  figure {
    border: 1px solid $color2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
      height: 50%;
    }
  }
  div {
    display: none;
  }
}
.head-top:last-child {
  p {
    text-transform: capitalize;
  }
}
.head-right {
  span {
    width: 30px;
    color: $color2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0px;
  }
  .head-right-span:after { //span
    content: '';
    position: absolute;
    width: 30px;
    color: $color2;
    border-top: 1px solid;
    transform: translateX(10px);
  }
  .head-right-span.active:after {
    transition: ease 200ms;
    transform: translateX(0px);
  }
}
.head:last-child {
  img {
    cursor: pointer;
  }
}

.hero {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    z-index: -1;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &-right {
    @apply hidden;
  }
}

.special {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  &-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
  &-imgcenter {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
} 
.special {
  >figure {
    z-index: -2;
    top: -30%;
    position: absolute;
    width: 20%;
    height: 400px;
  }
  >figure:first-child {
    left: 0;
  }
  >figure+figure {
    right: 0;
  }
}
.special {
  h2 {
    color: #c6ac83;
  }
  p {
    text-align: center;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.special-menu {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  div:first-child {
    flex-direction: row;
    color: $color1;
  }
  div:first-child:before {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
  div:first-child:after {
    content: '';
    width: 75px;
    border-top: 1px solid $color2;
  }
  p {
    color: $color1;
  }
}
.special-button {
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
  }
  button {
    color: $color2;
    width: 100%;
  }
}
.special-button {
  button:hover {
    transition: ease 200ms;
    background-color: $color2;
    color: white;
  }
  div:after {
    content: '';
    transform: translateX(100%);
    width: 100%;
    display: flex;
    border-top: 1px solid $color2;
  }
  div:hover:after {
    content: '';
    transition: ease 200ms;
    transform: translateX(0%);
  }
}
.special-imgcenter {
  &-center {
    background-color: $color1;
    width: 100%;
    color: $color2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 40px;
    margin: 0 20px;
  }
  aside {
    // position: relative;
    border: 1px solid $color2;
    width: 20%;
    height: 500px;
    margin: 40px;
    align-items: center;
    display: none;
  }
  figure { // aside figure
    display: flex;
    width: 25%;
    height: 50%;
    position: absolute;
  }
}
// .special-imgcenter {
//   aside:first-child {
//     figure {
//       // figure
//     }
//   }
//   aside:last-child {
//     figure {
//       // figure
//     }
//   }
// }
.special-imgcenter-center {
  &-word {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
    p {
      color: white;
      text-transform: capitalize;
      text-align: start;
    }
  }
  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    overflow: hidden;
  }
  button {
    color: $color2;
  }
}
.special-imgcenter-center {
  button:hover {
    transition: ease 200ms;
    background-color: $color2;
    color: $color1;
  }
  >div:last-child>div:after {
    content: '';
    transform: translateX(200%);
  }
  >div:last-child>div:hover:after {
    content: '';
    transition: ease 200ms;
    display: flex;
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid;
    transform: translateX(0%);
  }
}
.special-imgcenter-center-word {
  >div {
    font-family: $fonttenor;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  >div>div {
    width: 50%;
    padding-top: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 0 10px;
  }
}


footer {
  margin-top: 80px;
  background-color: $color1;
  color: white;
  padding: 0 20px;
  ul {
    list-style-type: none;
  }
  a {
    color: inherit;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }
  .btn:hover {
    color: #0e1927;
    background-color: #c6ac83;
  }
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 30px 0;
  >div:first-child {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #c6ac83;
    padding: 10px 0;
  }
  &-last {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      text-transform: uppercase;
    }
  }
}
.footer-wrapper:last-child {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c6ac83;
}
.footer-wrapper-list:last-child {
  border: none;
}
.footer-wrapper-list {
  >li:first-child {
    text-transform: uppercase;
  }
  img:hover {
  scale: 120%;
  transition: 500ms;
}
}


@media (min-width: 520px) {
  .btn {
    padding: 14px 30px;
  }
  button {
    font-weight: 400;
    font-size: 14px;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  li {
    font-size: 16px;
    line-height: 20px;
  }
  a {
    font-size: 14px;
  }

  main {
    gap: 100px;
  }

  .head {
    padding: 10px 40px;
  }
  .special-imgcenter {
    &-center {
      margin: 0 40px;
    }
  }

  footer {
    margin-top: 90px;
    padding: 0 40px;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    &-list {
      border: none;
      padding: 0;
    }
  }
}

// tablette
@media (min-width: 768px) {
  .btn {
    padding: 16px 32px;
    font-size: 16px;
  }
  h1 {
    font-size: 78px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  p {
    font-size: 20px;
    line-height: 20px;
  }
  li {
    font-size: 20px;
    line-height: 20px;
  }
  a {
    font-size: 20px;
  }

  main {
    gap: 120px;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  .head {
    padding: 15px 60px;
    &-top {
      display: flex;
      gap: 10px;
    }
    nav {
      top: 120px;
    }
    &-right {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
  }
  .head:last-child {
    border: none;
  }
  .head-top {
    div {
      display: flex;
      flex-direction: column;
    }
    figure {
      display: flex;
    }
  }

  .special {
    &-button {
    flex-direction: row;
    }
  }
  .special-menu {
    div {
      gap: 20px;
    }
  }
  .special-button {
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
    }
  }
  .special-imgcenter {
    &-center {
      width: 40%;
      margin: 0;
      padding: 40px;
    }
    aside {
      display: flex;
    }
    figure { // aside figure
      display: flex;
      width: 25%;
      height: 456px;
      position: absolute;
    }
  }
  .special-imgcenter {
    aside:first-child {
      figure {
        left: 0;
      }
    }
    aside:last-child {
      figure {
        right: 0;
      }
    }
  }

  footer {
    margin-top: 120px;
    padding: 0 50px;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0;
    >div:first-child {
      max-width: 250px;
    }
    &-list {
      gap: 20px;
    }
    &-last {
      gap: 10px;
    }
  }
  .footer-wrapper-list:last-child {
    max-width: 280px;
  }
}

// desktop
@media (min-width: 1024px) {

  /* hero aside */
  .hero {
    &-right {
      background-color: $color1;
      color: white;
      transform: translateX(100%);
      @apply flex items-center flex-col absolute gap-5 w-1/2 justify-center text-center h-full right-0;
    }
    &-right.able {
      transform: translateX(0%);
      transition: ease 200ms;
      @apply flex;
    }
  }
  .hero-right {
    p {
      width: 80%;
    }
    .close {
      width: 80px;
      height: 80px;
      @apply cursor-pointer relative;
    }
    button {
      background-color: transparent;
      cursor: default;
      z-index: -2;
      @apply w-full border-none absolute h-full flex
    }
  }
  .hero-right {
    span {
      color: $color2;
      font-size: 28px;
      font-family: $fonttenor;
      gap: 10px;
      @apply flex items-center flex-col;
    }
    span:after {
      content: '';
      border-top: 1px solid #c6ac83;
      width: 100px;
    }
  }
  .hero-right {
    &-footer {
      @apply flex m-5;
      a {
        @apply mx-2;
      }
      img {
        @apply w-full h-full object-contain;
      }
      img:hover {
        transition: ease 200ms;
        scale: 1.5;
      }
    }
    >div:before {
      content: '';
      border-top: 1px solid #c6ac83;
      width: 100px;
    }
    >div {
      gap: 10px;
      @apply flex flex-col items-center;
    }
  }

  header {
    border-radius: 0;
    position: relative;
  }
  .head {
    padding: 20px 60px;
    &-top {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    nav {
      padding-top: 0;
      transform: translateX(0);
      top: auto;
      height: auto;
      width: auto;
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 60px;
    }
    &-right {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
  }
  nav {
    a {
      padding: 0;
      width: auto;
    }
    a:hover {
      color: $color2;
      background-color: transparent;
    }
  }

  .hero {
    figure {
      top: 0;
    }
  }

  .special {
    margin-top: 0;
    &-button {
      gap: 20px;
    }
  }

  footer {
    // background-color: $color1;
    padding: 0 60px;
  }
  .footer-wrapper {
    padding: 60px 0;
    &-last {
      flex-direction: row;
      gap: 60px;
      justify-content: space-between;
    }
  }
}